.articles {
  align-self: center;
  max-width: $max-width;
  display: flex;
  flex-direction: column;
  .palette {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 27px;
    flex-wrap: wrap;
    .article {
      position: relative;
      width: 382px;
      height: 521px;
      padding: 21px;
      border: 1px #e7e7e7 solid;
      border-radius: 62px;
      &:nth-child(2) {
        background-color: $achivments-background-color;
        .article__link {
          background-color: #fff;
        }
      }
      .article__img {
        border-top-left-radius: 45px;
        border-top-right-radius: 45px;
      }
      .article__tag {
        position: absolute;
        top: 249px;
        left: 41px;
        width: 118px;
        height: 29px;
        background-color: #fff;
        border-radius: 8px;
        border-bottom-left-radius: 0px;

        @include Jost();
        text-align: center;
        font-size: 16px;
        line-height: 29px;
        letter-spacing: 0.01em;
        text-transform: capitalize;
        color: #4d5053;
      }
      .article__name {
        width: 305px;
        height: 100px;
        @include DM();
        text-transform: capitalize;
        font-size: 25px;
        line-height: 1.25;
        letter-spacing: 0.02em;
        color: #292f36;

        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
      .article__link {
        position: absolute;
        bottom: 37px;
        right: 21px;
        width: 52px;
        height: 52px;
        line-height: 60px;
        text-align: center;
        border-radius: 50%;
        background-color: $link-color;
        cursor: pointer;
      }
      .article__date {
        position: absolute;
        height: 33px;
        bottom: 37px;
      }
    }
  }
}
